#navbar-title{
    font-family: helvetica, sans-serif;
    font-size: 36px;
    color: white;
    padding: 1vh 0 0 0; 
}

.navbar-container{
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  background: rgb(8,140,232);
  box-shadow: 1px 1px 4px gray;
  position: fixed;
  width: 100vw;
  height: auto;
  top: 0;
}

#link-container{
  display: flex;
  list-style: none;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: center;
  height: 5vh;
  width: 60vw; 
}

.navbar-container a{
  font-size: 1em;
  color: white;
  width: 30vw;
  padding: 1vh 1vw 1vh 1vw;
  text-align: center;
  vertical-align: text-bottom;
  transition: background 300ms ease; 
}

.navbar-container a:hover{
  background: rgb(8, 158, 232);  
}

.navbar-container a:active{
  color: darkgray; 
  background: rgb(3, 130, 232);
}

#menu-toggle input {
  display: none;
}

@media screen and (max-width: 600px){

  .navbar-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: auto;
    top: 0;
  }
  
  #navbar-title{
    order: 1;
    font-size: 24px;
    padding-right: 2px;
  } 

  .navbar-container a
  {
    width: 100%;
    text-align: right;
    padding-right: 20px;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;     
  }

  #menu-toggle
  {
    display: block;
    position: relative;
    order: 0;
    /* top: 50px;
    left: 50px; */
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    padding-top: 2px;
    padding-left: 4px;
  }

  #menu-toggle input
  {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    top: -7px;
    left: -5px;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }

  /*
  * Just a quick hamburger
  */
  #menu-toggle span
  {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #fff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }

  #menu-toggle span:first-child{
    transform-origin: 0% 0%;
  }

  #menu-toggle span:nth-last-child(2){
    transform-origin: 0% 100%;
  }

  /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
  #menu-toggle input:checked ~ span{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #fff;
  }

  /*
  * But let's hide the middle one.
  */
  #menu-toggle input:checked ~ span:nth-last-child(3){
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  /*
  * Ohyeah and the last one should go the other direction
  */
  #menu-toggle input:checked ~ span:nth-last-child(2){
    transform: rotate(-45deg) translate(0, -1px);
  }

  /*
  * Make this absolute positioned
  * at the top left of the screen
  */
  #link-container{
    display: flex;
    flex-flow: column nowrap;
    position: absolute;
    width: 50vw;
    height: auto;
    margin: 0 0 0 -50px;
    background: rgb(8,140,232);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  #link-container li
  {
    padding: 10px 0;
    font-size: 15px;
  }

  /*
  * And let's slide it in from the left
  */
  #menu-toggle input:checked ~ ul
  {
    transform: none;
  }
}
