#navbar-title{
    font-size: 36px;
    color: white;
    padding: 1vh 0 0 0; 
}

.navbar-container{
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  background: rgb(8,140,232);
  box-shadow: 1px 1px 4px gray;
  position: fixed;
  width: 100vw;
  height: auto;
  top: 0;
}

#link-container{
  display: flex;
  list-style: none;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: center;
  height: 5vh;
  width: 60vw; 
}

.navbar-container a{
  font-size: 1.5em;
  color: white;
  width: 30vw;
  padding: 1vh 1vw 1vh 1vw;
  text-align: center;
  vertical-align: text-bottom;
  transition: background 300ms ease; 
}

.navbar-container a:hover{
  background: rgb(8, 158, 232);  
}

.navbar-container a:active{
  color: darkgray; 
  background: rgb(3, 130, 232);
}

#menu-toggle input {
  display: none;
}

@media screen and (max-width: 600px){

  .navbar-container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: auto;
    top: 0;
  }
  #navbar-title{
    font-size: 24px;
    padding-right: 2px;
  } 

  #menu-toggle
  {
    display: block;
    position: relative;
    order: 0;
    /* top: 50px;
    left: 50px; */
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    padding-top: 3px;
    padding-left: 4px;
  }

  .navbar-container a{
    font-size: 1.25em;
  }


  /*
  * Make this absolute positioned
  * at the top left of the screen
  */
  #link-container{
    display: flex;
    flex-flow: row nowrap;
    width: 95vw;
  }
}

/*mobile landscape styles*/
@media screen 
and (max-height: 600px) 
and (orientation: landscape){
  .navbar-container{
    position: absolute;
  }

  #link-container{
    padding-top: 1em;
  }
}
