#root {
  background-color: #e6e6e6;
  min-height: 100%;
  font-size: 16px;
}

.content-wrapper{
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 80vw;
  padding-top: 15vh;
  box-shadow: 1px 1px 5px grey;
  background-color: #fff;
}

.content-section{
  width: 80%;
  align-self: center;
  padding-left: 4vh;
  padding-right: 4vh;
  padding-bottom: 4vh;
}

/* set the indentation because we cleared the list-style */
.content-section li {
  padding-left: 1em; 
  text-indent: -.7em;
}

/* make our own bullet so we can set the color */
.content-section li::before {
  content: "• ";
  color: #2B5D7F; 
}

.contact-container{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;  
}

.resume-title{
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  color: #2B5D7F;
}

.skills-section {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
  color: #2B5D7F;
}


@media screen and (max-width: 600px) {
  .content-wrapper{
    width: 100vw;
    padding-top: 10vh;
    border: none;
    box-shadow: none;
  }

  .content-section{
    width: 95%;
    padding: 0;
  }

  .contact-container{
    width: 100%;
  }

  #root {
    background-color: #fff;
    font-size: 12px;
  }

  .resume-title{
    flex-flow: column;
    align-items: flex-start;
    text-align: left;
  }
  
  .skills-section {
    display: flex;
    flex-flow: column;
  }
}


